<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> Terms & Condition</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>In the first part of J.R.R. Tolkien's epic masterpiece, The Lord of the Rings, a shy young hobbit named
                Frodo Baggins inherits a simple gold ring.</p>
            <p>In the first part of J.R.R. Tolkien's epic masterpiece, The Lord of the Rings, a shy young hobbit named
                Frodo Baggins inherits a simple gold ring.</p>
            <p>In the first part of J.R.R. Tolkien's epic masterpiece, The Lord of the Rings, a shy young hobbit named
                Frodo Baggins inherits a simple gold ring.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home</button>
            </div>
        </div>
    </div>
</section>